*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px red solid; um Layoutprobleme zu erknenn*/
}
/* Auswahlfarbe geändert zu btn.farbe */
*::selection{
    background-color: var(--btn);
    color: var(--white);
}

 /* FONTS */

@font-face {
    font-family: robotor;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: robotob;
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: robotoblack;
    src: url(../fonts/Roboto-Black.ttf);
}
:root{
/* COLORS */
    --btn: #ff3571;
    --gradientblue:#3C30FF;
    --txt: #0b0c17;
    --nmbr: #dddddd;
    --white: #ffffff;
    --black: #000;
}

/* GENERAL SETTINGS */

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

html{
    font-size: 62.5%;
    color: var(--txt);
    scroll-behavior: smooth;
}
/* Elemente, die robotor als Schriftart nutzen */
html,.herotxt p,.idea p,.facts p, .ready p, .subscribe p, .steps div:last-of-type p:last-of-type, .subscribe form input:first-of-type, .subscribe form input:last-of-type, footer p{
    font-family: robotor, Arial, Helvetica, sans-serif;
}
/* Elemente, die robotob als Schriftart nutzen */
p, h1, h2{
    font-family: robotob,Arial, Helvetica, sans-serif;
}
/* Elemente, die robotoblack als Schriftart nutzen und Schriftgröße 2rem haben */
h3, h6, .herotxt a, .steps div:last-of-type p:first-of-type{
    font-family: robotoblack; 
    font-size: 2rem;
}
/* FONT SIZES */

h1{
    font-size: 8rem;
}
h2, .steps div:last-of-type p:first-of-type{
    font-size: 6rem;
}
.herotxt p, .ready p, .subscribe p, .subscribe form input:first-of-type{
    font-size: 2.6rem;
}
.idea p, .facts p, .steps div:last-of-type p:last-of-type{
    font-size: 2rem;
}
.subscribe form input:last-of-type{
    font-size: 2.2rem;
}
footer p{
    font-size: 1.5rem;
}

/* HEADER */

header{
    height: 100vh;
    background: url(../img/ilustracion1.png) no-repeat top right;
    background-size:50%;
    overflow: hidden;
}
nav{
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:5rem;
}
.navcontainer{
    display:flex ;
    flex-direction: row;
}
.navcontainer a{
    padding:3rem 0 3rem 3rem;
    z-index: 2;
    position: relative;
}
.navcontainer a img{
    height: 42px;
    position: fixed;
}

.hero{
    padding:0 15rem;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap:30rem;
    height:80%;
}
.flyingman{
    background: url(../img/ilustracion_people.png) no-repeat top right;
    background-size: 135%;
    height: calc(100vh - 100%);
    min-height: calc(100vh + 300px);
    width:calc(100vw - 100%);
    min-width: calc(20vw + 300px);;
    animation-name: move;                /** Name der Animation **/
    animation-duration: 3s;               /** Dauer der Animation **/
    animation-iteration-count: infinite;  /** Anzahl der Wiederholungen **/
    animation-direction: alternate; /** Richtung der Animation**/
}
.flyingman:hover{
    animation-play-state: paused;
}
.herotxt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.herotxt p{
    margin-bottom: 18rem;
}
.herotxt a{
    color: var(--btn);
}
.herotxt img{
    height:3rem;
}
/* ANIMATION FLYING MAN */

@keyframes move{
    from {  transform: translateY(0px)    }
    to   {  transform: translateY(100px) }
}
main{
    overflow: hidden;
}
/* PROJECT GALLERY BEGIN MAIN */
.projectgallery{
    background:url(../img/images.jpg) repeat-x;
    background-size: contain;
    height:75vh;
    margin-bottom: 200px;
    width:6400px;  /*Die Breite ist die Bildbreite*2. Ist der Wert weit unter der Pixelzahl, funktioniert die Wiederholung nicht */
    animation: carousel 45s linear infinite;
}
/* ANIMATION PROJECTGALLERY */
@keyframes carousel{
    0% {
        transform: translatex(0);
      }
      100% {
        transform: translatex(-3200px); /* Die Breite des Background Images */
      }
    }
/* IDEA */
.idea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:0 15rem;
    height: 45vh;
    gap:35rem;
    margin-bottom: 300px;
}

.idea p{
    line-height: 4.5rem;
    height: 30vh;
    max-width: 40vw;
}
.idea h2 img{
    height:60px;
}
.idea h2{
    width: 20vw;
}

/* AFTER WEEKS... */
.weeks{
    padding:0 15rem;
    max-width: 55%;
    height: 20vh;
    margin-bottom: 300px;
}

/* FACTS */

.facts{
    padding:0 15rem;
    height: 50vh;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15rem;
    column-gap: 45rem;
    margin-bottom: 300px;
}
.facts p{
    line-height: 4.5rem;
}
.facts article{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.facts article img{
    height:40px;
    margin-top: -1rem;
}

/* R U READY? kombiniert mit SUBSCRIBE SECTION*/
.ready, .subscribe{
    padding:0 15rem;
    height: 50vh;
    text-align: center;
}
.ready p, .subscribe p{
    padding:0 35rem;
    line-height: 4.5rem;
    margin-top: 75px;
}

/* STEPS */

.steps{
    padding:0 15rem;
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15rem;
    margin-bottom: 300px;
}
.steps div:first-of-type{
    background:url(../img/step01.png) no-repeat center;
    background-size: contain;
    height: 50vh;
    width: 50vw;
}
.steps div:last-of-type{
    width: 50vw;
}
.steps div:last-of-type p:first-of-type{
    color: var(--nmbr);
    margin-bottom: 100px;
}
.steps div:last-of-type img{
    margin-bottom: 25px;
}
.steps div:last-of-type p:last-of-type{
    line-height: 4.5rem;
}
.steps h3{
    margin-bottom: 35px;
}
#step2 div:first-of-type{
    background:url(../img/step02.png) no-repeat center;
    background-size: contain;
}
#step2, #step4{
    flex-direction: row-reverse;
}
#step3 div:first-of-type{
    background:url(../img/step03.png) no-repeat center;
    background-size: contain;
}
#step4 div:first-of-type{
    background:url(../img/step04.png) no-repeat center;
    background-size: contain;
}

/* SUBSCRIBE NEWSLETTER */
.subscribe p{
    margin-bottom: 7.5rem;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subscribe form input:first-of-type{
    padding:2.5rem 25rem;
    color: var(--black);
    border:0px;
    box-shadow: 0px 0px 50px -15px var(--nmbr);
    margin-bottom: 5rem;
    border-radius: 5px;
}
.subscribe form input:last-of-type{
    padding:2rem 15rem;
    color: var(--white);
    background-color: var(--btn);
    border-radius: 5px;
    border:0px;
}
.subscribe form input:last-of-type:hover{
    background: rgb(255,53,113);
    background: linear-gradient(90deg, rgba(255,53,113,1) 0%, rgba(60,48,255,1) 70%);
    transition: 1.5s ease;
    cursor: pointer;
}
/* FOOTER */
footer{
    padding:0 15rem;
    margin-bottom: 30px;
    margin-top: 100px;
}
footer img{
    height:20px;
    margin-left: 20px;
}

/* MEDIA QUERIES */
@media (max-width: 575.98px) {
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 3rem;
    }
    .hero{
        text-align: center;
        padding:8rem 5rem;
        display:block;
    }
    .herotxt{
        gap:2rem;
    }
    .herotxt p{
        margin-bottom: 35rem;
        font-size: 2rem;
    }
    .flyingman{
        background: url(../img/ilustracion_people.png) no-repeat top center ;
        background-size: 150%;
        position:absolute;
        top:240px;
        left: -10px;
    }
    header{
        height: 100vh;
        background: url(../img/ilustracion1.png) no-repeat top right;
        background-size:40%;
        margin-bottom: 5rem;
    }
    .projectgallery{
        margin-bottom: 5rem;
    }
    .herotxt{
        position:relative;
        z-index: 2;
    }
    .idea{
        padding:8rem 5rem;
        text-align: center;
        flex-direction: row;
        gap:2rem;
        height:100vh;
        margin-bottom: 5rem;
    }
    .idea h2, .weeks h2{
        width:unset;
    }
    .idea p{
        max-width: unset;
        height:unset;
    }
    .weeks{
        padding:8rem 5rem;
        text-align: center;
        max-width: unset;
        height:unset;
        margin-bottom: 5rem;
    }
    .facts{
        padding:8rem 5rem;
        height:auto;
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 5rem;
    }
    .ready{
        padding:8rem 5rem;
        margin-bottom: 5rem;
    }
    .ready p,.subscribe p{
        padding:unset;
        font-size: 2rem;
    }
    .steps{
        text-align: center;
        flex-direction: column;
        padding:8rem 5rem;
        gap:2rem;
        margin-bottom: unset;
        height:unset;
    }
    .steps div:first-of-type, .steps div:last-of-type{
        width:unset;
    }
    #step2, #step4 {
        flex-direction: column;
    }
    .steps div:last-of-type p:first-of-type {
        margin-bottom: 5rem;
        font-size: 12rem;
    }
    .steps div:last-of-type img {
        height:50px;
        width:50px;
    }
    .subscribe, footer{
        padding:8rem 5rem; 
        height:unset;
    }
    .subscribe form input:first-of-type {
        padding:3rem 2rem;  
    }
    .subscribe form input:first-of-type {
        font-size: 2rem;
        text-align: center;
    }
    .subscribe form input:last-of-type{
        padding:2rem 9rem;  
    }

}

@media (max-width: 767.98px) {
    h1{
        font-size: 4rem;
    }
    h2{
        font-size: 3rem;
    }
    .hero{
        text-align: center;
        padding:8rem 5rem;
        display:block;
    }
    .herotxt{
        gap:2rem;
    }
    .herotxt p{
        margin-bottom: 35rem;
        font-size: 2rem;
    }
    .flyingman{
        background: url(../img/ilustracion_people.png) no-repeat top center ;
        background-size: 150%;
        position:absolute;
        top:240px;
        left: -10px;
    }
    header{
        height: 100vh;
        background: url(../img/ilustracion1.png) no-repeat top right;
        background-size:40%;
        margin-bottom: 5rem;
    }
    .projectgallery{
        margin-bottom: 5rem;
    }
    .herotxt{
        position:relative;
        z-index: 2;
    }
    .idea{
        padding:8rem 5rem;
        text-align: center;
        flex-direction: row;
        gap:2rem;
        height:100vh;
        margin-bottom: 5rem;
    }
    .idea h2, .weeks h2{
        width:unset;
    }
    .idea p{
        max-width: unset;
        height:unset;
    }
    .weeks{
        padding:8rem 5rem;
        text-align: center;
        max-width: unset;
        height:unset;
        margin-bottom: 5rem;
    }
    .facts{
        padding:8rem 5rem;
        height:auto;
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 5rem;
    }
    .ready{
        padding:8rem 5rem;
        margin-bottom: 5rem;
    }
    .ready p,.subscribe p{
        padding:unset;
        font-size: 2rem;
    }
    .steps{
        text-align: center;
        flex-direction: column;
        padding:8rem 5rem;
        gap:2rem;
        margin-bottom: unset;
        height:unset;
    }
    .steps div:first-of-type, .steps div:last-of-type{
        width:unset;
    }
    #step2, #step4 {
        flex-direction: column;
    }
    .steps div:last-of-type p:first-of-type {
        margin-bottom: 5rem;
        font-size: 12rem;
    }
    .steps div:last-of-type img {
        height:50px;
        width:50px;
    }
    .subscribe, footer{
        padding:8rem 5rem; 
        height:unset;
    }
    .subscribe form input:first-of-type {
        padding:3rem 2rem;  
    }
    .subscribe form input:first-of-type {
        font-size: 2rem;
        text-align: center;
    }
    .subscribe form input:last-of-type{
        padding:2rem 9rem;  
    }
    }

@media (max-width: 991.98px) {

    }

@media (max-width: 1199.98px) {

    }

@media (max-width: 1399.98px) { 

    }